
{% extends 'base.html' %}

{% block title %}ToDo list{% endblock %}

{% block content %}
    <div class = 'block1'><h1>Мои задачи:</h1>
    {% for Task in Tasks %}
        <h3><a href="{% url "task_view" Task.pk %}">{{ Task.summary }}</a></h3>
        <div>{{ Task.description | linebreaks }}</div>
        <p>Создано: {{ Task.created_at | date:"d.m.Y" }} </p>
        <p>Статус: {{ Task.status }}</p>
        <p>Тип: {% for type in Task.type.all %}{{ type.name }}{% if not forloop.last %}, {%  endif %} {% endfor %}</p>
        <p><a href="{% url "task_update" Task.pk %}">Update</a></p>
        <p><a href="{% url "task_delete" Task.pk %}">Delete</a></p>
        <hr>
    {% endfor %}
    </div>
{% endblock %}


