 
{% extends 'base.html' %}

{% block title %}Task{% endblock %}

{% block menu %}
    <li><a href="#">Update</a></li>
    <li><a href="#">Delete</a></li>
{% endblock %}

{% block content %}
    <div class="block1">
    <h1>{{ Tasks.summary}}</h1>
    <p>{{ Tasks.description | linebreaks}}</p>
    <p>Создан: {{ Tasks.created_at }}</p>
    <p>Статус: {{ Tasks.status }}</p>
    <p>Тип: {% for type in Tasks.type.all %}{{ type.name }}{% if not forloop.last %}, {%  endif %} {% endfor %}</p
    </div>
{% endblock %}