body {
    font-family: Arial, sans-serif;
    background: beige;
    color: darkslategray;
    text-align: left ;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.navbar {
    display: block;
    background: darkgoldenrod;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}

.block1 {
    padding: 40px 40px;
}
.error {
    font-weight: bold;
    color: #ff0000;
    margin-top: 2px;
}

.form-input {
    border-radius: 5px;
    border: solid 1px lightgray;
    background: #fbcdff;
    color: #000000;
    padding: 3px 5px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 251, 171, 0.5);
}

.form-error {
    border: solid 1px #ff9898;
    background: darkred;
}

.form-error:focus {
    box-shadow: 0 0 5px rgb(158, 0, 0);
}

.pink {
    color: #ffb0b0;
    font-weight: bold;
}

.search-form {
    display: inline-block;
    float: right;
}
.description {
    font-weight: bold;
}

.parameters {
    font-size: 13px;
    color: gray;
}