 
{% extends 'base.html' %}

{% block title %}Task{% endblock %}

{% block menu %}
    {% if perms.webapp.change_task %}
    <li><a href="{% url 'webapp:task_update' task.pk %}">Update</a></li>
    {% endif %}

    {% if perms.webapp.delete_task %}
    <li><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="block1">
    <h1>{{ Tasks.summary}}</h1>
    <p>{{ Tasks.description | linebreaks}}</p>
    <p>Создан/ Обновлен: {{ Tasks.created_at }} / {{ Tasks.updated_at }}</p>
    <p>Статус: {{ Tasks.status }}</p>
    <p>Тип: {% for type in Tasks.type.all %}{{ type.name }}{% if not forloop.last %}, {%  endif %} {% endfor %}</p
    </div>
{% endblock %}