 
{% extends 'base.html' %}

{% block title %}Poll{% endblock %}

{% block menu %}
    {% if perms.webapp.add_project %}
        <li><a href="{% url 'webapp:task_create' project.pk %}">Add task</a></li>
    {% endif %}
    {% if perms.webapp.change_project %}
        <li><a href="{% url 'webapp:project_update' project.pk %}">Project update</a></li>
    {% endif %}
    {% if perms.webapp.delete_project %}
        <li><a href="{% url 'webapp:project_delete' project.pk %}">Project delete</a></li>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="block1">
    <h1>{{ project.name}}</h1>
    <h5>{{ project.description }}</h5>
    <p>Создан/ завершен: {{ project.start_time }} / {{ project.end_time }}</p>

    <h3>Пользователи:</h3>

        {% for user in project.users.all %}
    <pr>{{ user.username }}</pr>

    {% empty %}
            <p>Нет пользователей:</p>
    {% endfor %}

      <a href="{% url 'webapp:project_users_update' project.pk %}"> Update users list </a>


        <h2>Задачи:</h2>
    {% for task in project.project.all %}

            <div class="card container mt-4 pt-2">
                <h4>{{ task.summary }} ({{ task.created_at }})</h4>
                <div class="pre">{{ task.description}}</div>
                <p>Тип: {% for type in task.type.all %}{{ type.name }}{% if not forloop.last %}, {%  endif %} {% endfor %}</p>
                <p> Статус: {{ task.status }}</p>

                <p><a href="{% url 'webapp:task_update' task.pk %}">Update</a></p>


                <p><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></p>

            </div>
        {% empty %}
            <p>Нет задач:</p>
        {% endfor %}

    </div>
{% endblock %}